:root {
  --header: rgba(83, 159, 187, 1);
  --header-dropdown: rgba(83, 159, 187, 0.85);
  --background: rgba(239, 236, 236, 1);
  --main: rgb(196, 218, 216);
  --footer: rgb(238, 238, 238);
}

* {
  box-sizing: border-box;
}

#header, .heading, .header-menu-nav {
  display: flex;
  align-items: center;
}

#header {
  background: var(--header);
  position: fixed;
  z-index: 1;
  min-height: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 300;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* hamburger nav styles */

.heading {
  justify-content: flex-start;
}

.heading h1 {
  font-weight: 300;
  margin: 0;
  padding-left: 15px;
  font-size: 1.2em;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: flex;
  position: relative;
  background: rgb(44, 44, 44);
  height: 2px;
  width: 2em;
  border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 10px;
}

.nav-toggle-label span::after {
  top: 10px;
}

.header-menu-nav {
  position: absolute;
  top: 100%;
  background: var(--header-dropdown);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 420ms ease-in-out;
  flex-direction: column;
  align-items: center;
}

.header-menu-nav div {
  height: 2em;
  margin-top: 0.7em;
}

.header-menu-nav a {
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 120ms ease-in-out;
}

.header-menu-nav div a:hover {
  color: rgb(117, 110, 110);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* main content styles */

#profile {
  position: absolute;
  margin-top: 2em;
  top: 50px;
  /* padding: 2em; */
  text-align: center;
  display: flex;
  height: 540px;
}

#profile .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

#profile h1 {margin-bottom: 0.3em;}
#profile p {margin: 0.5em 1.3em;}

.special-btn {
  margin-top: 1em;
  width: fit-content;
  height: 2em;
}

.special-btn a {
  font-weight: bolder;
  text-decoration: none;
  font-style: italic;
  color: black;
}

/* Footer styles */

#footer {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  background-color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  color: rgb(133, 133, 133);
  align-items: center;
}

.footer-menu-nav {
  display: none;
  align-items: center;
  justify-content: space-evenly;
}
.footer-menu-nav a {
  color: rgb(133, 133, 133);
  text-decoration: none;
}

.footer-social-nav {
  display: flex;
  justify-content: flex-end;
}

.footer-social-nav a {
  color: rgb(133, 133, 133);
  margin: auto 5px;
}

/* RESPONSIVE STYLING */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  header input, header label, header span {
    display: none;
  }

  #header .row {
    justify-content: flex-end;
    align-items: center;
  }
  
  #header {
    display: flex;
    justify-content: space-between;
  }  
  
  .header-menu-nav {
    background: var(--header);
    top: auto;
    transform: none;
    transition: none;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .header-menu-nav a {
    opacity: 1;
  }

  #footer .row {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .footer-menu-nav {display: flex;}
  .footer-text {font-size: larger;}
  .footer-social-nav a {font-size: 2em;}

}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .nav-toggle-label {
    display: none;
  }

} 