:root {
 /* --header: rgba(83, 159, 187, 1); */
  --header: RGBA(99, 130, 143, 1);
 /* --header-dropdown: rgba(83, 159, 187, 1); */
  --header-dropdown: RGBA(99, 130, 143, 1);
  --background: rgba(239, 236, 236, 1);
  --other: rgb(117, 110, 110, 1);
  --heading: rgba(176, 97, 69, 1);
  --main: rgba(196, 218, 216, 1);
  --footer: rgba(238, 238, 238, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

#header, .menu-heading, .header-menu-nav {
  display: flex;
  align-items: center;
}

#header {
  background: var(--header);
  position: fixed;
  z-index: 1;
  min-height: 50px;
}


.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* hamburger nav styles */

.menu-heading {
  justify-content: flex-start;
}

.menu-heading h1 {
  display: none;
  font-weight: 300;
  margin: 0;
  padding-left: 15px;
  font-size: 1.5em;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: flex;
  position: relative;
  background: rgb(44, 44, 44);
  height: 2px;
  width: 2em;
  border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 10px;
}

.nav-toggle-label span::after {
  top: 10px;
}

.header-menu-nav {
  position: absolute;
  top: 100%;
  background: var(--header-dropdown);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 420ms ease-in-out;
  flex-direction: column;
  align-items: center;
}

.header-menu-nav div {
  height: 2em;
  margin-top: 0.7em;
}

.header-menu-nav a {
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 120ms ease-in-out;
}

.header-menu-nav div a:hover {
  color: var(--other);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* main content styles */

#contact {
  display: flex;
}

.contact-info {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.heading h1 {
  font-size: xx-large;
  margin: 20px auto;
}

#contact .heading {
  height: 100px;
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--heading);
}

.social-icons {
  margin: 1em auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-icons a {
  font-size: 2em;
  color: black;
}

.social-icons a:hover {
  color: var(--heading);
}

/* form styles */

.wrapper {
  position: absolute;
  top: 390px;
  padding: 0 2em;
  margin-bottom: 50px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form:nth-child(4) {
  align-content: flex-start;
}

#contact-form input {
  height: 35px;
  padding-left: 5px;
  background-color: var(--main);
  border-radius: 8px;
  border: 2px solid rgb(44, 44, 44);
  margin: 5px 0;
  width: 18em;
}

#message.form-control {
  padding-left: 5px;
  width: 18em;
  background-color: var(--main);
  border-radius: 8px;
  border: 2px solid rgb(44, 44, 44);
  margin-top: 5px;
}

#contact-form input::placeholder, 
#contact-form textarea::placeholder {
  color: var(--other);
}

#contact-form .submit input {
  background: var(--heading);
  width: 100px;
  border-radius: 15px;
  font-weight: bold;
}

.text-field label {margin-bottom: 10px;}

/* Footer styles */

#footer {
  position: fixed;
  height: auto;
  left: 0;
  bottom: 0;
  background-color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  color: rgb(133, 133, 133);
  align-items: center;
}

.footer-menu-nav {
  display: none;
  align-items: center;
  justify-content: space-evenly;
}
.footer-menu-nav a {
  color: rgb(133, 133, 133);
  text-decoration: none;
}

.footer-social-nav {
  display: flex;
  justify-content: flex-end;
}

.footer-social-nav a {
  color: rgb(133, 133, 133);
  margin: auto 5px;
}

.footer-social-nav a i:hover, .footer-menu-nav a:hover {
  color: black;
}

/* RESPONSIVE STYLING */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  header input, header label, header span {
    display: none;
  }

  #header .row {
    justify-content: center;
    align-items: center;
  }
  
  #header {
    display: flex;
    justify-content: space-between;
  }  
  
  .header-menu-nav {
    background: var(--header);
    top: auto;
    transform: none;
    transition: none;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .header-menu-nav a {
    opacity: 1;
  }
  
  .menu-heading h1 {display: none;}

  .header-menu-nav:nth-child(4) {
    color: var(--other);
  }

  /* main content   */

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #contact .heading {
    height: 150px;
  }

  .heading h1 {
    font-size: xxx-large;
  }

  .contact-info h4 {margin-top: 75px;}

  .social-icons {justify-content: space-evenly;}
  .social-icons a {margin: 0 10px;}
  
    .wrapper {
      top: 500px;
      display: flex;
      align-items: center;
      justify-content: center;  
    }

  /* contact form styles */

  .contact-form {
    top: 700px;
  }

  #contact-form input, #message.form-control {
    width: 30em;
  }
  

  /* footer styles */
  
  #footer .row {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .footer-menu-nav {display: flex;}
  .footer-text {font-size: larger;}
  .footer-social-nav a {font-size: 2em;}

}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .nav-toggle-label {
    display: none;
  }

  .wrapper {margin-bottom: 5em;}
  .menu-heading h1 {display: none;}

} 