
/* rgba(0, 0, 0, 1)
rgba(34, 96, 137, 1)
rgba(69, 146, 175, 1)
RGBA(138, 76, 34, 1)
rgba(227, 196, 168, 1) */

:root {
  --header-footer: rgba(69, 146, 175, 0.85);
  --background: rgba(239, 236, 236, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
}

header {
  background: var(--header-footer);
  text-align: left;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
}

header h2 {
  font-weight: 400;
  margin: 0;
  padding-left: 15px;
  text-transform: uppercase;
}

/* navbar styles */

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  position: relative;
  background: rgb(44, 44, 44);
  height: 2px;
  width: 2em;
  border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 10px;
}

.nav-toggle-label span::after {
  top: 10px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  background: var(--header-footer);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 420ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  text-align: center;
}

nav a {
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 120ms ease-in-out;
}

nav a:hover {
  color: rgb(117, 110, 110);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* profile content styles */

#profile {
  display: block;
  position: absolute;
  top: 8%;
  background-color: var(--background);
  height: 100%;
}

.center {
  display: block;
  text-align: center;
  padding: 5em 2em 2em 2em;

}

.center img {
  width: 30%;
  height: auto;
  border-radius: 50%;
}

.center a {
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.center p {
  margin: 0;
}

.center h1 {
  margin: 0 0 0.3em 0;
  font-size: 2.5em;
  line-height: 13mm;
}

.center button {
  margin-top: 2em;
  border-radius: 8px;
  height: 3em;

}

/* footer styles */

footer {
  position: fixed;
  height: 50px;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  background-color: var(--header-footer);
}

.footer-text {
}

.icons {
}

/* RESPONSIVE  */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  
  #profile p {
    font-size: 1.5em; 
    padding: 0 3em 0 3em;
  }
  #profile button {
    height: 43m; 
    width: 6em;
  }
  
  .center {padding-top: 7em;}
  
  .nav-toggle-label {display: none;}
  
  header h2 {margin: auto 0;}

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .nav-toggle-label {
    display: none;

  }
} 